.title {
    font-family: Helvetica;
    text-align: center;
    background-color: #D1E6E7;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    color: #5B7778;
}
.Session{
	font-family: Helvetica;
    text-align: center;
    background-color: #FDB813;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    color: black;
}

span.code {
    font-family: Courier;
    background-color: #BBBBBB;
    padding: 2px 4px;
    font-weight: bold;
}

.description {
    
    font-family: Helvetica;
    text-align: center;
    background-color: #EDBD3E;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    color: black;
}

.border {
	background-color: #5B7778;
	border-radius: 20px;
	color: white;
	padding: 10px;
	margin: 10px;
}

.content {
	background-color: #D1E6E7;
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
    color: black;
}